@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

*{
    font-family: 'Comfortaa', cursive;
}
body{
    padding: 0;
    margin: 0;
    background-color: #B2C8DF;
}
.header{
    width: 100%;
    height: 15vh;
    background-color: #B2C8DF;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        width: 100px;
        height: 100px;
    }
    h1{
        font-family: 'DynaPuff', cursive;
        color: white;
        font-size: 64px;
    }
}

.menu{
    width: 100%;
    height: 5vh;
    background-color: #C4D7E0;
    border: solid #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.checkbox{
background-color: #ffffff;
width: 170px;
text-align: center;
padding: 10px;
border-radius: 25px;
button{
    margin-top: 15px;

}
div{
    margin-bottom: 5px;
    margin-top: 4px;
}
input{

width: 150px;

}
}
.planner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dashboard{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #B2C8DF;
    .card{
        width: 200px;
        height: auto;
        box-shadow: 1px 10px 5px -3px #6E85B7;
        background-color: #ffffff;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        #cardSelect{
            margin-bottom: 20px;
        }
    }
}

.addCard{
    background-color: #ffffff;
    border-radius: 10px;
    border: 8px double #ffffff; 
}
.addCard:hover{
    background-color: #d5f0ff;
    border-radius: 10px;
    border: 8px double #eafdff; 
}
.nameFilter, .timeFilter, .statusFilter{
    
    background-color: #B2C8DF;
    border-radius: 10px;
    border: 8px solid #B2C8DF;
}
.nameFilter:hover, .timeFilter:hover, .statusFilter:hover{  
    background-color: #6E85B7;
    border: 8px solid #6E85B7;
}